.create_title{
  color: #4B84F4;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 8px;
}
.create_title span{
  margin-left: 8px;
  color:#000;
  font-weight: 500;
}
.create_box{
  display: flex;
  align-items: flex-end;
}
.create_form .create_label{
  width: 100%;
  display: block;
  color: rgba(46, 46, 46, 0.5);
  font-size: 13px;
  margin-bottom: 8px;
}
.create_form .create_input{
  box-shadow: 0px 1px 6px rgba(55, 55, 55, 0.2);
  border-radius: 8px;
  border:none;
  height: 40px;
  padding-left: 10px;
  margin-right: 10px;
  width: 224px;
}
.create_btn{
  width: 224px;
  height: 40px;
  background: #4B84F4;  
  border-radius: 8px;
  color:#fff;
  margin-right: 10px;
  font-weight: 500;
}
.create_div{
  width: 224px;
  height: 40px;
  background: #fff;  
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 1px 6px rgba(55, 55, 55, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 10px;
}
.edit_icon, .delete_icon{
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0;
  margin-right: 8px;
}
.edit_icon img, .delete_icon img{
  width: 22px;
  height: 22px;
}