.delete_department{
  input[type="radio"]:checked label {
    background:blue;
  }
  h3{
    font-size: 16px;
    margin-bottom: 16px !important;
  }
  div{
    text-align: left;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 10px;
    span{
      display: block;
      width: 90%;
    }
    input{
      margin-right: 10px;
      width: 16px;
      height: 16px;
      border:1px solid blue;
    }
  }
}