.calendar{
  background: #fff;
  margin: 24px;
  margin-bottom: 0;
  
  .calendar_content{
    height: calc(100vh - 112px);
    overflow-y: auto;
    scrollbar-width:none;
    -webkit-scrollbar-width:none;
    
    .hours{
      width: 7%;
      display: flex;
      align-items: center;
      height: 72px;
      justify-content: center;
      // border-right: 1px solid rgba(35, 35, 35, 0.1);
      border-bottom: 1px solid rgba(35, 35, 35, 0.1);
      box-sizing: border-box;
    }

  }
  .calendar_header{
    background: #4B84F4;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    align-items: center;
    
    
    .clock_calendar{
      width: 7%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      // border-right: 1px solid rgba(35, 35, 35, 0.1);
    }
  
    .week{
      width:13.28%;
      padding-left:16px;
      border-left: 1px solid rgba(35, 35, 35, 0.1);
      min-height:24px;
      }
      .day{
        border-left: 1px solid rgba(35, 35, 35, 0.1);
      }
  }
 
}