.days, .single_days{
  width: 13.28%;
  padding-left: 16px;
  height:72px;
  border-left: 1px solid rgba(35, 35, 35, 0.1);
  border-bottom: 1px solid rgba(35, 35, 35, 0.1);
  box-sizing: border-box;
  &:hover{
    background: #F9F9F9;

  }
}
.single_days{
  width: 93%;
}