.days, .single_days{
  width: 14%;
  padding-left: 16px;
  height:72px;
  border-right: 1px solid rgba(35, 35, 35, 0.1);
  border-bottom: 1px solid rgba(35, 35, 35, 0.1);
  box-sizing: border-box;
}
.single_days{
  width: 93%;
}